h1 {
    text-align: center;
    padding: 10px;
}

p {
    text-align: center;
}

.form-container {
    text-align: left;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.form-container input[type="submit"] {
    display: block;
    margin: 10px auto;
}
